@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap");
/* VARIABLES ------------------------------------ */
/* BASE & BODY ------------------------------------ */
/* line 20, ../Code/V2/scss/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* line 27, ../Code/V2/scss/style.scss */
body {
  background: #020020;
  color: aliceblue;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.85rem;
  text-shadow: rgba(0, 0, 0, 0.3);
  line-height: 1.3;
}

/* line 36, ../Code/V2/scss/style.scss */
p {
  margin: 0px 0px 15px;
}

/* line 39, ../Code/V2/scss/style.scss */
p a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  color: #09f;
}

/* line 48, ../Code/V2/scss/style.scss */
section {
  background: #020020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid #020020;
  border-width: 0px 20px;
  padding: 40px 0;
}

/* line 56, ../Code/V2/scss/style.scss */
section h2 {
  font-size: 2.5rem;
}

/* line 61, ../Code/V2/scss/style.scss */
#main {
  background: transparent;
  height: 97vh;
  position: relative;
  border: solid #020020;
  border-width: 20px 20px 0px 20px;
  z-index: 2;
}

/* line 70, ../Code/V2/scss/style.scss */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #09f 50%, #020020 50%);
  bottom: 0px;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0px;
  z-index: -2;
}

/* line 82, ../Code/V2/scss/style.scss */
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
  z-index: -2;
}

/* line 88, ../Code/V2/scss/style.scss */
.bg3 {
  animation-duration: 5s;
  z-index: -2;
}

/* HEADER & FOOTER -------------------------------- */
/* line 95, ../Code/V2/scss/style.scss */
header {
  position: absolute;
  top: 40%;
  z-index: 1;
  margin: 20px;
}

/* line 100, ../Code/V2/scss/style.scss */
header h1 {
  font-size: 2.15rem;
  font-family: "Playfair Display", serif;
}

/* line 104, ../Code/V2/scss/style.scss */
header p {
  font-size: 1.2rem;
}

/* line 109, ../Code/V2/scss/style.scss */
footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: #eee;
  margin-top: 3.5em;
}

/* NAVIGATION ------------------------------------ */
/* line 118, ../Code/V2/scss/style.scss */
.navigation__checkbox {
  display: none;
  z-index: 6;
}

/* line 123, ../Code/V2/scss/style.scss */
.navigation__button {
  position: fixed;
  top: 0rem;
  left: 0rem;
  height: 5rem;
  width: 5rem;
  text-align: center;
  z-index: 300;
  cursor: pointer;
}

/* line 134, ../Code/V2/scss/style.scss */
.navigation__background {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 10rem;
  width: 2rem;
  background: #020020;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transform: rotate(40deg);
  transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

/* line 148, ../Code/V2/scss/style.scss */
.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  z-index: 200;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 160, ../Code/V2/scss/style.scss */
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
  list-style: none;
}

/* line 170, ../Code/V2/scss/style.scss */
.navigation__item {
  margin: 1rem;
}

/* line 174, ../Code/V2/scss/style.scss */
.navigation__link:link,
.navigation__link:visited {
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: aliceblue;
  font-size: 2rem;
  text-decoration: none;
  transition: all .2s;
}

/* line 186, ../Code/V2/scss/style.scss */
.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

/* line 191, ../Code/V2/scss/style.scss */
.navigation__link:hover {
  color: #09f;
}

/* line 195, ../Code/V2/scss/style.scss */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  z-index: 200;
  opacity: 1;
}

/* line 201, ../Code/V2/scss/style.scss */
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

/* line 207, ../Code/V2/scss/style.scss */
.navigation__icon {
  position: relative;
  margin-top: 2.5rem;
}

/* line 212, ../Code/V2/scss/style.scss */
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: inline-block;
  width: 2.2rem;
  height: 2px;
  background-color: aliceblue;
}

/* line 221, ../Code/V2/scss/style.scss */
.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 200ms;
}

/* line 229, ../Code/V2/scss/style.scss */
.navigation__icon::before {
  top: -.8rem;
}

/* line 233, ../Code/V2/scss/style.scss */
.navigation__icon::after {
  top: .8rem;
}

/* line 237, ../Code/V2/scss/style.scss */
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

/* line 241, ../Code/V2/scss/style.scss */
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

/* line 245, ../Code/V2/scss/style.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

/* line 249, ../Code/V2/scss/style.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

/* line 254, ../Code/V2/scss/style.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* line 259, ../Code/V2/scss/style.scss */
#by {
  font-family: 'Arima Madurai', cursive;
  color: #4A676A;
  font-size: 10px;
  position: absolute;
  top: 22%;
  right: 2.5%;
}

/* AbOUT ME ------------------------------------- */
/* line 271, ../Code/V2/scss/style.scss */
.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 26px;
  white-space: nowrap;
}

/* line 280, ../Code/V2/scss/style.scss */
.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -1px;
  width: 300px;
  height: 3px;
  margin-left: 20px;
  background-color: #09f;
}

/* line 292, ../Code/V2/scss/style.scss */
.overline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 296, ../Code/V2/scss/style.scss */
.overline h2 {
  margin-bottom: 20px;
  color: aliceblue;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

/* line 302, ../Code/V2/scss/style.scss */
.overline h3 {
  display: flex;
  color: #09f;
}

/* line 309, ../Code/V2/scss/style.scss */
.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 20px 40px;
  overflow: hidden;
  list-style: none;
}

/* line 318, ../Code/V2/scss/style.scss */
.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 15px;
}

/* line 324, ../Code/V2/scss/style.scss */
.skills-list li:before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #09f;
  font-size: var(--fz-sm);
  line-height: 12px;
}

/* line 335, ../Code/V2/scss/style.scss */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 339, ../Code/V2/scss/style.scss */
.profile-container img {
  border-radius: 50%;
  width: 300px;
  outline: 8px solid #09f;
  outline-offset: 14px;
  cursor: pointer;
  transition: 0.3s;
}

/* ANIMATIONS ------------------------------------ */
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* MEDIA QUERIES ---------------------------------- */
@media screen and (min-width: 768px) {
  /* line 363, ../Code/V2/scss/style.scss */
  .navigation__button {
    top: 4rem;
    left: 4rem;
    height: 7rem;
    width: 7rem;
  }
  /* line 370, ../Code/V2/scss/style.scss */
  .navigation__background {
    top: 4.5rem;
    left: 4.5rem;
    height: 6rem;
    width: 6rem;
  }
  /* line 377, ../Code/V2/scss/style.scss */
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 3.8rem;
  }
  /* line 382, ../Code/V2/scss/style.scss */
  .navigation__icon {
    margin-top: 3.5rem;
  }
  /* line 386, ../Code/V2/scss/style.scss */
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */