@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');

/* VARIABLES ------------------------------------ */

$color-primary: #278da4;
$color-secondary: #b13c69;
$color-accent: #eeea72;
$color-shade: #eee;

$color-text: #343434;
$color-bg: #3acec2;
$color-bg-light: #009fe1;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

/* HEADER & FOOTER -------------------------------- */

header {
  height: 450px;
  background: linear-gradient($color-bg-light, $color-bg);
  background-blend-mode: multiply;
  background-size: cover;
  h1 {
    font-size: 4.8em;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
  p {
    color: $color-accent;
    font-size: 1.25em;
    margin: 0;
  }
}

footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: $color-shade;
  margin-top: 3.5em;
}

/* COMPONENTS ------------------------------------- */

.main-nav {
  margin-top: 1em;
  li {
    display: inline-block;
    margin: 0 0.65em;
  }
  a {
    font-size: 0.85em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    transition: 0.3s;
    &:hover {
      color: $color-accent;  
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid $color-shade;
  border-radius: 0.25em;
  h1 {
    margin: 0.35em 0 0;
    line-height: 1.25;
  }  
  .icon {
    color: $color-primary;
  }
}

/* MEDIA QUERIES ---------------------------------- */

@media (max-width: 575px) {
  header {
    height: 340px;
    h1 {
      font-size: 3.4em;
    }
  }
}

@media (min-width: 576px) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }  
  .card {
    flex: 1;
  }
}

@media (min-width: 992px) {
  header {
    background-position: 0 0, 0 45%;
  }
  .intro {
    width: 45%;
  }
}





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #020020;
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.85rem;
    text-shadow: rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* overflow: hidden; */
}

header, section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

header h1 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;   
}

nav ul{
    margin-top: 15px;
    list-style-type: none;
    display: inline-flex;
    row-gap: 15px;
}

nav li{
    padding: 2.5px;
    cursor: pointer;
    display: inline;
}

.dot {
    display: none;
}

li.active .dot {
    display: block;
}

li.active .nav-text {
    display: none;
}

#main {
    height: 100vh;
    width: 100vw;
    border: 25px solid #020020;
    position: relative;
}

.home {
    position: absolute;
    bottom: 20%;
    font-size: 1rem;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #09f 50%, #020020 50%);
    bottom:0px;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top: 0px;
    z-index:-2;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
    z-index:-2;
}

.bg3 {
    animation-duration:5s;
    z-index:-2;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}





/* Hamburger menu */



  /* #menu-container {
   display:flex;
    flex-direction:column;
    width:40px;
    cursor:pointer;
  }
  
  #menu-container span{
    background: #fff;
    border-radius:10px;
    height:4px;
    margin: 4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
  }
  
  
  #menu-container span:nth-of-type(1){
    width:20px; 
  }
  
  #menu-container span:nth-of-type(3){
    width:30px;
  }
  
  input[type="checkbox"]{
    display:none;
  }
   
  input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(5px,0px)
  }
  
  input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  
  
  input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width: 23px !important;
    transform: translate(17px,-5px) rotatez(45deg);
  } */


  
  
  



  