@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #020020;
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.85rem;
    text-shadow: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

header {
    margin: 15px;
}

header h1 {
    font-size: 1.75rem;
    font-family: 'Playfair Display', serif;
}

nav ul{
    margin-top: 15px;
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    row-gap: 15px;
}

nav li{
    padding: 2.5px;
    cursor: pointer;
    display: inline;
}

.dot {
    display: none;
}

li.active .dot {
    display: block;
}

#main {
    background: transparent;
    height: 100vh;
    border: 20px solid #020020;
    position: relative;
  }
/* #main:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: transparent;
    z-index: -1;
    border: 18px solid white;
} */

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #020020 50%, #09f 50%);
    bottom:0px;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top: 0px;
    z-index:-2;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
    z-index:-2;
}

.bg3 {
    animation-duration:5s;
    z-index:-2;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}



