@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #020020;
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.85rem;
    text-shadow: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

header {
    margin: 15px;
}

header h1 {
    font-size: 1.75rem;
    font-family: 'Playfair Display', serif;
}






/* #main:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: transparent;
    z-index: -1;
    border: 18px solid white;
} */





